{include file="Home/common/header_index.html"}
<!--背景-->
<div class="loginbody"><img src="__PUBLIC__/__LANG__/img/login_bg01.jpg" alt=""/></div>
<div class="login_container rel">
    <span class="loginlogo"><img src="__PUBLIC__/__LANG__/img/login_logo01.png" alt=""/></span>
    <!--登陆内容 开始-->
    <div class="loginbox animated fadeInDown">
        <form id="user_login_form" method="post"  action="/Home/login/" autocomplete="off">
            <div class="form-inline"><input type="text" name="username"  style="width:310px;" value="{$cookie.name}" id="username" class="form-control" placeholder="填写用户名"></div>
            <div class="mt10 form-inline"><input type="password" style="width:310px;" name="password" value="{$cookie.hash}" id="password" class="form-control" placeholder="请输入密码"></div>
            <div class="mt10 form-inline">
            <span class="rel">
                <input type="text" class="form-control wd150" name="vericode" id="vericode" placeholder="验证码">
            </span>
                <span class="ml5"><img id="refresh_verify_code" onclick="_refresh_verify_code();" width="100" height="30" src="__APP__/Home/vcode" alt=""/></span>
                <a class="ml5 f12 bluedeep" onclick="_refresh_verify_code();">换一张</a>
            </div>
            <div class="mt15 f12"><label class="checkbox-inline i-checks"><input type="checkbox" value=""><span class="ml5">保持我的登录状态</span></label><a href="/Home/findpwd" class="ml50 bluedeep">忘记密码</a></div>
			<div class="t_c g9 f12 mt10" id="tips" style="display:none"></div>
            <div class="mt25"><button  id="login_form_button" class="btn btn-block btn-primary">登 录</button></div>
        </form>
        <!--<div class="login_info f12 t_c"><span class="red">账户名或登录密码不正确，请重新输入。</span></div>-->
    </div>
    <!--登陆内容 结束-->
</div>


<script type="text/javascript">
$(function(){
	$('input[type=text],input[type=password]').focus(function(){
 	   $('#tips').hide();
       $('#tips').html('');
	});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
	$("#user_login_form").submit(function(){
		var u = $('#username'),
			p = $('#password'),
			v = $('#vericode');
		var pre_tips = '<span class="fa fa-exclamation-triangle mr5"></span>';
	    var rules = {
	            username: function(v) {
	                if (!v) return '请输入用户名';
	            },
	            password: function(v) {
	                if (!v) return '请输入密码';
	            },
	            vericode: function(v) {
	                if (!v) return '请输入验证码';
	            }
		    };
	    var isValid = true;
	    $('input[type=text],input[type=password]').each(function(i, el) {
            el = $(el);
            $.each(rules, function(k, test) {
				if (el.attr('name') == k) {
	               var error = test(el.val());
	               if ( error ) {
	            	   $('#tips').show();
	            	   $('#tips').html(pre_tips + error);
	                   isValid = false;
	                   return false;
	               } else {
	            	   $('#tips').hide();
	                   $('#tips').html('');
	               }
				}
            });
            if (!isValid) {
            	return false;	
            }
        });
	    if (!isValid) return false;
		var _f = $("#login_form_button");
		_hide_button(_f);
		$(this).ajaxSubmit(function(data){
			if( data != 'OK' ) {
				_show_button(_f);
				$('#tips').show();
			}
			switch(data){
				case 'OK':
					//loading('<% __e("登录中...");%>');
					setTimeout(function(){
						location.href = '__APP__/Common/mainIndex/?t='+Math.random();
					}, 200);
					break;
				case 'MAX_LOGIN_ERROR_TIME':
				case 'MAX_LOGIN_TIME':
	            	$('#tips').html(pre_tips + '<% __e("多次错误登录，已锁定，请联系管理员")%>');
                    p.val('');
					break;
				case 'E_EMPTY':
	            	$('#tips').html(pre_tips + '<% __e("账号、密码不能为空！");%>');
					break;
				case 'E_PASSWD':
					$('#tips').html(pre_tips + '<% __e("密码错误！");%>');
					p.val('');
					break;	
				case 'E_VCODE':
					$('#tips').html(pre_tips + '<% __e("验证码错误！");%>');
					_refresh_verify_code();
					v.val('');
					break;
				default:
					if (data.substr(0,2) == 'TO') {
						loading('<% __e("跳转中，请稍后...");%>');
						var url = data.substr(3);
						location.href = url;
						return false;
					}
					$('#tips').html(pre_tips + data);
					break;
			}
			
		});
		return false;
	});
});




jQuery.fn.placeholder = function(){
	var i = document.createElement('input'),
		placeholdersupport = 'placeholder' in i;
	if(!placeholdersupport){
		var inputs = jQuery(this);
		inputs.each(function(){
			var input = jQuery(this),
				text = input.attr('placeholder'),
				pdl = 0,
				height = input.outerHeight(),
				width = input.outerWidth(),
				placeholder = jQuery('<span class="phTips">'+text+'</span>');
			try{
				pdl = input.css('padding-left').match(/\d*/i)[0] * 1;
			}catch(e){
				pdl = 5;
			}
			placeholder.css({'margin-left': -(width-pdl),'height':height,'line-height':height+"px",'position':'absolute', 'color': "#cecfc9", 'font-size' : "12px"});
			placeholder.click(function(){
				input.focus();
			});
			if(input.val() != ""){
				placeholder.css({display:'none'});
			}else{
				placeholder.css({display:'inline'});
			}
			placeholder.insertAfter(input);
			input.keyup(function(e){
				if(jQuery(this).val() != ""){
					placeholder.css({display:'none'});
				}else{
					placeholder.css({display:'inline'});
				}
			});
		});
	}
	return this;
}
jQuery('input[placeholder]').placeholder();

</script>
{include file="Home/common/footer_index.html"}