<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="百分点">
    <meta name="Description" content="百分点大数据">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}eogserver/css/base.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}eogserver/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}eogserver/css/main.less" />
    <title></title>
  </head>
  <body>
    <div class="index-carousel" id="slide">
      <ul>
        <li>
          <img src="{{ STATIC_URL }}eogserver/images/u46.png" />
        </li>
        <li>
          <img src="{{ STATIC_URL }}eogserver/images/9e224b80271a4652053d690e3ee8e6ae.jpg" />
        </li>
      </ul>
    </div>
    <div class="app-classify">
      <div class="app-toilet app-classify-chil clearfix">
        <div class="pull-left app-icon clearfix">
          <i class="fa fa-female pull-left"></i>
          <span class="pull-left">洗手间</span>
        </div>
        <div class="pull-left app-info">
          <span class="pull-left resource-status resource-point">空闲</span>
          <div class="pull-left resource-num">
            <p>A区：2</p>
            <p>B区：2</p>
          </div>
          <div class="pull-left remindme-btn" style="display: block;">
            <div class="pull-left tolietBtn">提醒我</div>
          </div>
        </div>
      </div>
      <div class="app-lounge app-classify-chil clearfix">
        <div class="pull-left app-icon clearfix">
          <i class="fa fa-hotel pull-left"></i>
          <span class="pull-left">休息室</span>
        </div>
        <div class="pull-left app-info">
          <span class="pull-left resource-status">空闲</span>
          <div class="pull-left resource-num">
            <p>A区：2</p>
          </div>
          <div class="pull-left remindme-btn">
            <div class="pull-left loungeBtn">提醒我</div>
          </div>
        </div>
      </div>
      <div class="app-shower app-classify-chil clearfix">
        <div class="pull-left app-icon clearfix">
          <i class="fa fa-tint pull-left"></i>
          <span class="pull-left">淋浴间</span>
        </div>
        <div class="pull-left app-info">
          <span class="pull-left resource-status">空闲</span>
          <div class="pull-left resource-num">
            <p>A区：2</p>
          </div>
          <div class="pull-left remindme-btn">
            <div class="pull-left showerBtn">提醒我</div>
          </div>
        </div>
      </div>
      <div class="app-egg app-classify-chil clearfix">
        <div class="pull-left app-icon clearfix">
          <i class="egg-chair pull-left"></i>
          <span class="pull-left">蛋椅</span>
        </div>
        <div class="pull-left app-info">
          <span class="pull-left resource-status">空闲</span>
          <div class="pull-left resource-num">
            <p>A区：2</p>
          </div>
          <div class="pull-left remindme-btn">
            <div class="pull-left eggBtn">提醒我</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/ovgap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/less.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/zepto.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/swipeSlide.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/overview.js"></script>
</html>

