<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="百分点">
    <meta name="Description" content="百分点大数据">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="css/main.less" />
    <title></title>
  </head>
  <body>
    <div class="setting-main setting-sex">
      <h3 class="setting-tit">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</h3>
      <div class="setting-con clearfix">
        <p class="pull-left">
          <i class="fa fa-circle-o "></i>
          <span>男</span>
        </p>
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>女</span>
        </p>
      </div>
    </div>
    <div class="setting-main setting-station">
      <h3 class="setting-tit">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：</h3>
      <div class="setting-con clearfix">
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>A区</span>
        </p>
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>B区</span>
        </p>
      </div>
      <div class="setting-con clearfix">
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>C区</span>
        </p>
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>D区</span>
        </p>
      </div>
      <div class="setting-con clearfix">
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>E区</span>
        </p>
        <p class="pull-left">
          <i class="fa fa-circle-o"></i>
          <span>F区</span>
        </p>
      </div>
    </div>
    <div class="setting-main setting-priority">
      <h3 class="setting-tit">高级设置：</h3>
      <div class="senior-setting-con setting-con">
        <p>
          <i class="fa fa-circle-o"></i>
          <span>位置优先</span>
        </p>
        <p>
          <i class="fa fa-circle-o"></i>
          <span>时间优先</span>
        </p>
      </div>
    </div>
    <div class="sure-btn">
      <input id="sureBtn" type="button" value="确     认" />
    </div>
  </body>
  <script type="text/javascript" src="scripts/lib/less.min.js"></script>
  <script type="text/javascript" src="scripts/lib/zepto.min.js"></script>
  <script type="text/javascript" src="scripts/registered.js"></script>
</html>

