<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="百分点">
    <meta name="Description" content="百分点大数据">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}eogserver/css/base.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}eogserver/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}eogserver/css/main.less" />
    <title></title>
  </head>
  <body>
    <div class="sex-tab">
      <div class="tab-chil-box clearfix">
        <div class="tab-chil tab-chil-active tab-chil-male pull-right">
          <div class="fa fa-male"></div>
          <p>男</p>
        </div>
      </div>
      <div class="tab-chil-box clearfix">
        <div class="tab-chil tab-chil-female pull-left">
          <div class="fa fa-female"></div>
          <p>女</p>
        </div>
      </div>
    </div>
    <div class="restroom-men restroom-show">
      <div class="toliet-con-box">
        <div class="toliet-remind-info">
          <p>男已有N人添加提醒</p>
          <p>预计3min有空闲</p>
          <div class="toliet-remind-btn">提醒我</div>
        </div>
        <div class="toliet-area">
          <h3>A区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>占用</td>
              <td width="125"><input disabled="disabled" class="table-remind-btn table-remind-btn-disabled" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
              <td width="125"><input class="table-remind-btn" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
              <td width="125"><input class="table-remind-btn" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
          </table>
        </div>
        <div class="toliet-area">
          <h3>B区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>占用</td>
              <td width="125"><input class="table-remind-btn" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
              <td width="125"><input class="table-remind-btn" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
              <td width="125"><input class="table-remind-btn" onclick="singleRemind(this, this.value, id)" type="button" value="提醒我" /></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="toliet-con-box">
        <div class="toliet-remind-info">
          <span>共10间，闲3间</span>
        </div>
        <div class="toliet-area">
          <h3>A区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
            </tr>
          </table>
        </div>
        <div class="toliet-area">
          <h3>B区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="restroom-female">
      <div class="toliet-con-box">
        <div class="toliet-remind-info">
          <p>女已有N人添加提醒</p>
          <p>预计3min有空闲</p>
          <div class="toliet-remind-btn">提醒我</div>
        </div>
        <div class="toliet-area">
          <h3>A区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
          </table>
        </div>
        <div class="toliet-area">
          <h3>B区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
              <td class="table-remind-btn">提醒我</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="toliet-con-box">
        <div class="toliet-remind-info">
          <span>女共10间，闲3间</span>
        </div>
        <div class="toliet-area">
          <h3>A区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>占用</td>
            </tr>
          </table>
        </div>
        <div class="toliet-area">
          <h3>B区</h3>
          <table>
            <tr>
              <th>编号</th>
              <th>类型</th>
              <th>状态</th>
            </tr>
            <tr>
              <td>2</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
            <tr>
              <td>3</td>
              <td>蹲便</td>
              <td>占用</td>
            </tr>
            <tr>
              <td>1</td>
              <td>坐便</td>
              <td>空闲</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/less.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/zepto.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/lib/swipeSlide.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}eogserver/scripts/toliet.js"></script>
</html>

